* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    display: flex;
    min-height: 100vh;
}
.photo {
    background-image: url(./images/rice-fields-g65d4ea483_1920.jpg);
    background-position: center;
    background-repeat: no-repeat;
    width: 50%;
}
.form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    min-height: 100vh;
    flex-direction: column;
    gap: 30px;
    background: #aeb78e;
}
p {
    color: rgb(65, 65, 65);
    font-size: 1.2em;
    text-align: center;
}
a {
    text-decoration: none;
    color: black;
}

.inputBox {
    position: relative;
    width: 250px;
}

.inputBox input{
    /* height: 50px; */
    width: 100%;
    padding: 10px;
    border: 1px solid rgba(255, 255, 255, 0.25);
    background: #1d2b3a;
    outline: none;
    color: white;
    font-size: 1em;
    transition: 0.5s;
    border-radius: 5px;
}

.inputBox span {
    position: absolute;
    left: 0;
    padding: 10px;
    pointer-events: none;
    font-size: 1em;
    color: rgba(255, 255, 255, 0.25);
    text-transform: uppercase;
    transition: 0.5s;
}

.inputBox input:valid ~ span,
.inputBox input:focus ~ span {
    color: white;
    transform: translateX(10px) translateY(-7px);
    font-size: 1em;
    padding: 0 10px;
    background: #1d2b3a;
    border-left: 1px solid #00dfc4;
    border-right: 1px solid #00dfc4;
    letter-spacing: 0.2em;
    /* background: #00dfc4;
    border-radius: 2px; */
}

.inputBox input:valid,
.inputBox input:focus {
    border: 1px solid #00dfc4;
}

@media screen and (max-width: 768px) {
    .photo {
        display: none;
    }
    .form {
        width: 100%;
    }
}